In [1]:
import numpy as np
import pandas as pd

In [2]:
##open test file
data_path = "test.csv"
test = pd.read_csv(data_path)

In [3]:
##show first five rows of the data
print(test.shape)
test.head()

(344, 10)

,Roll Kalman (deg),Pitch Kalman (deg),temp (C),altit (m),Time (s),Gear,Latitude,Longitude,Speed (mps),Time (HHMMSSCC)
0,-32.76,-33.63,19,1.35,645.21,0,NaN,NaN,NaN,NaN
1,****,****,****,****,****,****,50.953853,-1.362635,12.55,17041100.0
2,-25.39,-17.72,19,1.6,646.22,0,NaN,NaN,NaN,NaN
3,****,****,****,****,****,****,50.953853,-1.362635,12.55,17041100.0
4,-9.11,-7.15,18.9,3.74,647.23,0,NaN,NaN,NaN,NaN

In [4]:
#split data into two objects, one is sensors value and another one is GPS values
sensor = test.ix[:, 0:6]
sensor.head()

  Roll Kalman (deg) Pitch Kalman (deg) temp (C) altit (m) Time (s)  Gear
0            -32.76             -33.63       19      1.35   645.21     0
1              ****               ****     ****      ****     ****  ****
2            -25.39             -17.72       19       1.6   646.22     0
3              ****               ****     ****      ****     ****  ****
4             -9.11              -7.15     18.9      3.74   647.23     0

In [5]:
#GPS values
GPS = test.ix[:, 6:10]
GPS.head()

    Latitude  Longitude  Speed (mps)  Time (HHMMSSCC)
0        NaN        NaN          NaN              NaN
1  50.953853  -1.362635        12.55       17041100.0
2        NaN        NaN          NaN              NaN
3  50.953853  -1.362635        12.55       17041100.0
4        NaN        NaN          NaN              NaN

In [6]:
##drop every row with Nan value
dfG = pd.DataFrame(data=GPS)
GPS_new = dfG.dropna()

In [7]:
GPS_new.head()

    Latitude  Longitude  Speed (mps)  Time (HHMMSSCC)
1  50.953853  -1.362635        12.55       17041100.0
3  50.953853  -1.362635        12.55       17041100.0
5  50.953853  -1.362635        12.55       17041100.0
7  50.953853  -1.362635        12.55       17041100.0
9  50.953853  -1.362635        12.55       17041100.0

In [8]:
##drop star rows
dfs = pd.DataFrame(data=sensor)
sensor_new = dfs.iloc[::2, :]

In [9]:
sensor_new.head()

  Roll Kalman (deg) Pitch Kalman (deg) temp (C) altit (m) Time (s) Gear
0            -32.76             -33.63       19      1.35   645.21    0
2            -25.39             -17.72       19       1.6   646.22    0
4             -9.11              -7.15     18.9      3.74   647.23    0
6            -22.52                2.1     18.9      4.98   648.24    0
8            -10.68             -31.94     18.9      5.31   649.25    0

the data indexs are no long successive, we need to reindex them

In [10]:
total_row, total_column = pd.DataFrame(data=sensor_new).shape
print(total_row)
print(len(range(total_row)))
dfs = pd.DataFrame(data=sensor_new)
dfG = pd.DataFrame(data=GPS_new)
rows = list(range(total_row))

##assign new index to sensor dataframe
dfs['nindex'] = rows
sensor1 = dfs.set_index('nindex')
sensor1.index.name = None

##assign new index to GPS dataframe
dfG['nindex'] = rows
GPS1 = dfG.set_index('nindex')
GPS1.index.name = None

172
172

In [11]:
sensor1.head()

  Roll Kalman (deg) Pitch Kalman (deg) temp (C) altit (m) Time (s) Gear
0            -32.76             -33.63       19      1.35   645.21    0
1            -25.39             -17.72       19       1.6   646.22    0
2             -9.11              -7.15     18.9      3.74   647.23    0
3            -22.52                2.1     18.9      4.98   648.24    0
4            -10.68             -31.94     18.9      5.31   649.25    0

In [12]:
GPS1.head()

    Latitude  Longitude  Speed (mps)  Time (HHMMSSCC)
0  50.953853  -1.362635        12.55       17041100.0
1  50.953853  -1.362635        12.55       17041100.0
2  50.953853  -1.362635        12.55       17041100.0
3  50.953853  -1.362635        12.55       17041100.0
4  50.953853  -1.362635        12.55       17041100.0

In [15]:
dfs = pd.DataFrame(data=sensor1)
dfG = pd.DataFrame(data=GPS1)
##combine two dataframe together into one
result = pd.concat([dfs, dfG], axis=1, join_axes=[dfs.index])

In [16]:
result.head()

,Roll Kalman (deg),Pitch Kalman (deg),temp (C),altit (m),Time (s),Gear,Latitude,Longitude,Speed (mps),Time (HHMMSSCC)
0,-32.76,-33.63,19,1.35,645.21,0,50.953853,-1.362635,12.55,17041100.0
1,-25.39,-17.72,19,1.6,646.22,0,50.953853,-1.362635,12.55,17041100.0
2,-9.11,-7.15,18.9,3.74,647.23,0,50.953853,-1.362635,12.55,17041100.0
3,-22.52,2.1,18.9,4.98,648.24,0,50.953853,-1.362635,12.55,17041100.0
4,-10.68,-31.94,18.9,5.31,649.25,0,50.953853,-1.362635,12.55,17041100.0

get our happy data

In [18]:
pd.DataFrame(data=result).to_csv('clean_test.csv')